@media screen and (min-width: 700px) {

  header {
    flex-wrap: nowrap;
  }

  #menu-btn {
    display: none;
  }

  nav {
    display: block;
    width: auto;
    order: 2;
  }

  nav ul {
    flex-direction: row;
    text-align: left;
    margin-top: 0;
  }

  .photo-frame.small {
    width: 140px;
    height: 140px;
  }

  .flag-fact {
    flex-direction: row;
    text-align: left;
  }

  .flag-fact p {
    text-align: left;
  }

  main {
    padding: 2rem 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .course-circles {
    gap: 1.5rem;
  }
}